:root {
    --body-bg-rgb: 249, 250, 252;
    --primary-rgb: 92, 103, 247;
    --primary-tint1-rgb: 227, 84, 212;
    --primary-tint2-rgb: 255, 93, 159;
    --primary-tint3-rgb: 255, 142, 111;
    --primary-color: rgb(var(--primary-rgb));
    --secondary-rgb: 158, 92, 247;
    --warning-rgb: 255, 198, 88;
    --info-rgb: 14, 165, 232;
    --success-rgb: 33, 206, 158;
    --danger-rgb: 251, 66, 66;
    --light-rgb: 249, 249, 250;
    --dark-rgb: 10, 10, 10;
    --orange-rgb: 254, 124, 88;
    --pink-rgb: 254, 84, 155;
    --teal-rgb: 0, 216, 216;
    --purple-rgb: 123, 118, 254;
    --green-rgb: 1, 239, 140;
    --primary-tint1-color: rgb(var(--primary-tint1-rgb));
    --primary-tint2-color: rgb(var(--primary-tint2-rgb));
    --primary-tint3-color: rgb(var(--primary-tint3-rgb));
    --primary-danger: rgb(var(--danger-rgb));
    --primary-border: rgb(var(--primary-rgb));
    --text-muted: #6e829f;
    --custom-white: #ffffff;
    --custom-black: #000000;
}