@import url('./cssUtils/colores.css');

body {
    background-color: #F8F7FB !important;
}

/* Contenedor de menu principal */
.contenedorPrincipal {
    padding: 50px 90px 0px 90px !important;
    z-index: 1;
}


.container {
    width: 100%;
    min-height: 100vh;
}


/* contenedor de imagenes de fondo */
.content {
    border-radius: 0.5rem !important;
    background-color: white !important;
    /* Aplicamos las dos capas de sombra de Tailwind (4px y 2px) */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

/* sombra */
.boxsd {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06) !important;
}

/* mover arriba al hacer hover */

.transform {
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.transform:hover {
    transform: translateY(-4px);

}

.vertical-hr {
    width: 1px;
    /* Grosor exacto de un píxel */
    height: 95px;
    /* O el alto que prefieras (ej: 40px) */
    background-color: #55595f;
    /* Tu color hexadecimal */
    border: none;
    /* Aseguramos que no haya bordes */
    padding: 0;
    /* Aseguramos que no haya relleno interno */
    opacity: 0.5;
    /* Opcional: para que se vea más suave */
}


/* FONDO DE IMAGEN TRASERA */
.imagen-pages {
    margin: 0px !important;
    padding: 0px 90px;
    background-color: var(--color-segundario);
    width: 100%;
    height: 30%;
    position: absolute;
    z-index: 1;

}


.imagen-fondo {

    /* background-image: url('../img/images/fondohome.png');
    background-size: cover;
    background-position: center; */
    margin: 0px !important;
    width: 100%;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: end;
}

/* .imagen-fondo img{
    width: 60rem;
    height: 334px;
    opacity: 0.5;
} */

.imagen-fondo img {
    width: 100%;
    height: auto;
    opacity: 0.4;
}


.nombre_panel {
    top: 30px;
    left: 7rem;
    padding: 10px;
    border-radius: 0.5rem;
    background-color: #1929bb;
    z-index: 1;
}

.nombre_panel span {
    margin: 0px !important;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}



/* nombre de los botones de la tabla */
/* Botones de acción alineados */
.action-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.action-icons a {
    color: #6f6b7d;
    transition: 0.2s;
    font-size: 0.8rem;
}

.action-icons a:hover {
    /* color: var(--color-primario); */
    background-color: #f1f1f1;
    border-radius: 50%;
    padding: 10px;
}


/* estilos para items de las tablas */
.circulo-tablet {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.circulop {
    width: 28px;
    height: 28px;
}

/* badge de texto */
.badge {
    border: none;
    font-weight: 400;
    font-size: 0.75rem;
}

.badge.success {
    background-color: var(--bg-badge-success);
    color: var(--text-badge-success);
}

.badge.danger {
    background-color: var(--bg-badge-danger);
    color: var(--text-badge-danger);
}

.badge.warning {
    background-color: var(--bg-badge-warning);
    color: var(--text-badge-warning);
}

.titulo1 {
    font-weight: 400;
    color: #3f404dcc;
}









/* Estilos para los botones de exportación */
.custom-export-btn {
    background-color: #FE9001;
    color: #ffffff;
    border: none;
    width: auto;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    /* Sombra en gris oscuro profesional */
    box-shadow: 0 10px 17px -8px rgb(254 144 1);
}

.custom-export-btn:hover {
    transform: translateY(-2px);
}

/* El contenedor que se desliza */
.slider-wrapper {
    width: 100%;
    height: 200%;
    /* Dos vistas de alto */
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.view {
    height: 40px;
    width: 100%;
}

.icons-view {
    gap: 20px;
    color: #f8f9fa;
    /* background-color: var(--color-gris-color); */
}

/* Efectos de los iconos */
.icon-action {
    transition: transform 0.2s ease, color 0.2s ease;
}

.icon-action:hover {
    transform: scale(1.3);
}

/* .icon-action[data-type="pdf"]:hover {
    color: #e74c3c;
}

.icon-action[data-type="excel"]:hover {
    color: #27ae60;
}

.close-trigger:hover {
    color: #333;
} */

/* CLASE ACTIVA: Dispara la subida */
.custom-export-btn.is-active .slider-wrapper {
    transform: translateY(-50%);
}