/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* @font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins-SemiBold.ttf") format("ttf");
  font-weight: 600;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;/*"Poppins", sans-serif*/
}

:root {
  --white-color: #fff;
  --white-color-content: #fff;
  --blue-color: #1929bb;
  --grey-color: #283c50;/* #475e75  */
  --grey-color-light: #aaa;
  --backgroud: #f2f7fc;
}
/* cambio de bootstrap */
.btn-sm{
  color: white !important; 
}

.btn-success{

  color: white !important; /* Color del texto del botón de confirmación */
}

div:where(.swal2-icon).swal2-warning {
  border-color: #c71313 !important; 
  color: #c71313 !important;
}

body {
  background-color: #e7f2fd;
  transition: all 0.5s ease;
  font-family: Inter, sans-serif;
}

body.dark {
  background-color: #333;
}

body.dark {
  --white-color: #333;
  --white-color-content: rgb(58, 56, 56);
  --blue-color: #fff;
  --grey-color: #f2f2f2;
  --grey-color-light: #aaa;
  --backgroud: #333;
}

.dark {
  background-color: #333;
  color: #fff; /* Agregamos color de texto blanco para mejor contraste */
}

body.dark,
main.dark,
footer.dark {
  background-color: var(--white-color) !important;
}

body main .content {
  background-color: var(--white-color-content) !important;
  border: 1px solid white;
}

/* navbar */
.navbar {
  top: 0;
  width: 100%;
  left: 0;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  z-index: 1000;
  box-shadow: 0 0 2px var(--grey-color-light);
}

.atlas {
  color: var(--grey-color);
}

.conten-main {
  background-color: var(--backgroud);
}

.logo_item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 22px;
  font-weight: 500;
  color: var(--blue-color);
}

.navbar img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.search_bar {
  height: 47px;
  max-width: 430px;
  width: 100%;
}

.search_bar input {
  height: 100%;
  border-radius: 25px;
  outline: none;
  background-color: var(--white-color);
  color: var(--grey-color);
  border: 1px solid var(--grey-color-light);
  padding: 0 20px;
}

.navbar_content {
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.navbar_content i {
  cursor: pointer;
  font-size: 20px;
  color: var(--grey-color);
}
/* admin lte */
.sidebar-brand {
  /* width: 200px; */
  padding: 38px !important;
}

/* clase de adminlte */
.app-main {
  transition: none !important;
}

/* clase de adminlte */
.app-footer {
  color: var(--grey-color) !important;
}
.nav-item {
  list-style: none;
}

.activado {
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 2px;
}

.desactivado {
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 2px;
}

/* sidebar */
.sidebar {
  background-color: var(--white-color);
  /* padding: 9px 20px 0px 20px; */
  overflow-y: scroll;
  box-shadow: 0 0 1px var(--grey-color-light);
  /* transition: all 0.5s ease; */
}

 
.sidebar, ol, ul {
  margin-bottom: 0rem !important;
} 
.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar:hover::-webkit-scrollbar {
  display: none;
  position: absolute; /* Posiciona la barra de desplazamiento de forma absoluta */
  top: 0; /* Posiciona la barra en la parte superior */
  right: 0;
  height: 7px !important;
  width: 7px;
  border-radius: 20px;
}
.sidebar::-webkit-scrollbar:window-inactive {
  display: none;
}
.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
  border-radius: 6px;
}

.menu_content {
  position: relative;
}

.menu_title {
  /* margin: 15px 0;*/
  padding: 25px 20px 15px 0px;
  font-size: 12px; 
  font-weight: 700;
}

.sidebar.close .menu_title {
  padding: 6px 30px;
}

.menu_title::before {
  color: var(--grey-color);
  white-space: nowrap;
}

.menu_inicio::before {
  content: "NAVEGACIÓN";
 
}
/* 
.menu_bienestar::before {
  content: "Bienestar Social";
}
.menu_vacaciones::before {
  content: "Vacaciones";
}

.menu_legalizaciones::before {
  content: "Legalizaciones";
}
.menu_medicina::before {
  content: "Medicina";
}
.menu_personal::before {
  content: "Personal";
}

.menu_administrador::before {
  content: "Administrador";
} */
.sidebar.close .menu_title::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 18px;
  border-radius: 12px;
  background: var(--grey-color-light);
}

.menu_items {
  padding: 3px 5px 3px 0px;
  list-style: none;

}

.navlink_icon {
  position: relative;
  font-size: 22px;
  min-width: 40px;
  /* line-height: 40px; */
  display: inline-block;
  text-align: center;
  border-radius: 6px;
  /* padding: 3px; */
}

.navlink_icon::before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 100px);
  left: -20px;
}

.navlink_icon:hover {
  background: var(--blue-color);
}

.sidebar .nav_link {
  display: flex;
  align-items: center;
  /* width: 105%; */
  padding:4px 15px 7px 0px; 
  border-radius: 8px;
  text-decoration: none;
  color: var(--grey-color);
  white-space: nowrap;
  font-weight: 550;
  font-size: 14px;
}

.sidebar.close .navlink {
  display: none;
}

.nav_link:hover {
  color: var(--white-color);
  background: var(--blue-color);
}

.sidebar.close .nav_link:hover {
  background: var(--white-color);
}

.submenu_item {
  cursor: pointer;
}

.submenu {
  display: none;
}

.submenu_item .arrow-left {
  position: absolute;
  right: 0.5rem;
  display: inline-block;
  margin-right: auto;
}

.sidebar.close .submenu {
  display: none;
}

.show_submenu ~ .submenu {
  display: block;
  /* transition: all .3s ease */
}

.show_submenu .arrow-left {
  transform: rotate(90deg);
}

.submenu .sublink {
  padding: 10px 10px 10px 10px; 
  margin-left: 1rem !important;
  margin-bottom: 0.3rem !important;

}

.sidebar.hoverable .collapse_sidebar {
  display: none;
}

.icons_menu{
  font-size: 17px;
}
@media (width <= 768px) {
  .search_bar{
   display: none !important;
  }
}


/* menus desplegable de de busqueda */




.menu-desplegable {
  position: absolute;
  /* Para que se posicione debajo del buscador */
  top: 40px;
  /* Ajusta la distancia del menú al buscador */
  left: 0;
  width: 200px;
  /* Ancho del menú */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  /* Para que el menú se muestre sobre otros elementos */
  display: none;
  /* Ocultar el menú inicialmente */
}

.menu-desplegable ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-desplegable li {
  padding: 8px;
  cursor: pointer;
}

.menu-desplegable li:hover {
  background-color: #f0f0f0;
}

.subtitulo {
  font-size: 0.8em;
  color: #888;
  display: block; /* Convierte el subtítulo en un bloque */
  margin-left: 0; /* Elimina el margen a la izquierda */
  margin-top: 5px; /* Añade un pequeño margen en la parte superior */
}

#resultadosBusqueda {
  position: absolute; /* Para posicionar el menú */
  top: 100%; /* Colocar el menú debajo del contenedor */
  left: 0; /* Alinear el menú con el borde izquierdo del contenedor */
  width: 100%; /* Ocupar todo el ancho del contenedor */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10; /* Para que el menú se muestre sobre otros elementos */
  display: none; /* Ocultar el menú inicialmente */
}


.dropdown-sin-triangulo .dropdown-toggle::after {
  display: none !important;
}

.contarNoti{
  position: absolute !important;
  left: 8px !important;
  top: -14px !important ;
}

.horafecha-nofi p{
  color: var(--grey-color-light);
}

.horafecha-nofi p{
  font-size: 12px;
}

.messengerNoti{
  font-size: 13px;
}

.imgNoti{
  width: 20px;
  height: 20px;
}

.show_submenu{
  /* transition: all 3s ease; */

}

/* INCES */

.content-img-inces .img-inces{
  width: 110px;
  height: 60px;
}





.content-version-black .card{
  margin: 20px; 
 border-color: #283c50; 
background: rgba(255, 255, 255, .05); 
box-shadow: 0 0 0 1px rgba(0, 0, 0, .15);
}
/* 
.content-version .card{
color: #283c50;
background: #eff0f6;
 border-color: #e5e7eb;
}
.content-version .card{
border-radius: 10px;
border: 1px solid transparent;
transition: all .3sease;
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1); */
/*}
*/
/*
.content-version .card .card-body{
padding: 0px !important;
}
.content-version-black .card .card-body p,
.content-version-black .card .card-body h6 {
color: #fff !important;
} */