/* IMPORTAR COLORES */
@import url('Utils/variables.css');

.modal { /* O la clase correspondiente a tu modal */
  z-index: 10000 !important; /* Un valor menor que el del datepicker */
}

body main .container-fluid #cardID1{
  border-radius: 0px !important;
  border-bottom: 0px solid;
}

.contenbotonesreport .report{
  display:  flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  
}

.contenbotonesreport .report .contenbtn{
  margin: 0.2rem;
  width: 25%;
}

@media (max-width: 600px) {
  .contenbotonesreport .report .contenbtn{
    margin: 0.2rem;
    width: auto;
  }
}