@font-face {
  font-family: "Poppins" !important;
  src: url("../../assets/fonts/Poppins-SemiBold.ttf") format("ttf");
  font-weight: 600;
}

main::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

.row {
  margin: 0px !important;
}
.nav-link{
  color: #707070;
}
.active{
  background-color: #4070f4 !important;
  color: white !important;
}
/* verificación cumplida */
.cumplido {
  border: 2px solid rgb(13, 109, 13) !important;

  color: rgb(13, 109, 13) !important ;
}
.cumplido_span {
  border-top: 2px solid rgb(13, 109, 13) !important;
  border-right: none !important;
  border-bottom: 2px solid rgb(13, 109, 13) !important;
  border-left: 2px solid rgb(13, 109, 13) !important;
}
.cumplido_span i {
  color: rgb(13, 109, 13) !important;
}

.cumplido:focus {
  outline: 0;
  border-color: rgb(13, 109, 13) !important;
  box-shadow: none !important;
}

/* verificacion negativa */
.error_input {
  border: 2px solid rgb(180, 8, 8) !important;

  color: rgb(180, 8, 8) !important ;
}
.error_input:focus {
  outline: 0;
  border-color: rgb(180, 8, 8) !important;
  box-shadow: none !important;
}
.error_span {
  border-top: 2px solid rgb(180, 8, 8) !important;
  border-right: none !important;
  border-bottom: 2px solid rgb(180, 8, 8) !important;
  border-left: 2px solid rgb(180, 8, 8) !important;
}

.error_span i {
  color: rgb(180, 8, 8) !important;
}

select option {
  color: black;
}
input::-webkit-input-placeholder {
  /* Chrome, Safari, Opera */
  color: black !important;
}
input::-moz-placeholder {
  /* Firefox 19+ */
  color: #999;
}

input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}

input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #999;
}
.barra_naranja {
  border-radius: 0px 0px 5px 5px;
  height: 10px;
}

.conten {
  border-radius: 10px 10px 0px 0px;
  border-bottom: 0px !important;
  border-top: 1.3px solid !important;
  border-left: 1.3px solid !important;
  border-right: 1.3px solid !important;
  border-color: #707070 !important;
}

.contentSubMenu{
  border: 1.3px solid;
  border-radius: 10px 10px 0px 0px;
  border-color: #707070 !important;

}
.cargando1 {
  width: 120px;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.856);
}
.texto-cargando {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #00b8de;
  padding-top: 20px;
}

.cargando span {
  font-size: 20px;
  text-transform: uppercase;
}
.pelotas {
  width: 30px;
  height: 30px;
  background-color: #00b8de;
  animation: salto 0.5s alternate infinite;
  border-radius: 50%;
}
.pelotas:nth-child(2) {
  animation-delay: 0.18s;
}
.pelotas:nth-child(3) {
  animation-delay: 0.37s;
}

.contenedor{
  border-radius: 10px 10px 0px 0px;
  border-bottom: 0px !important;
  border-top: 1.3px solid !important;
  border-left: 1.3px solid !important;
  border-right: 1.3px solid !important;
  border-color: #707070 !important;
}

.containerImg img{
  border-radius: 10px 10px 0px 0px;
}

#mostrar{
  display: none;
}
@keyframes salto {
  from {
    transform: scaleX(1.25);
  }
  to {
    transform: translateY(-50px) scaleX(1);
  }
}

@media (width <= 768px) {
  .containerImg {
    display: none !important;
  }

  #mostrar{
    display: inline-block;
    margin-top: 4px;
  }

  body .app-main{
    margin-bottom: 15px;
  }
}
