@font-face {
  font-family: "Poppins" !important;
  src: url("../../assets/fonts/Poppins-SemiBold.ttf") format("ttf");
  font-weight: 600;
}

main::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

.formulario_empleado label{
  color: #888;
}

.content{
  border-width: 1px !important;
  border-color: #dee2e6 rgba(0, 0, 0, 0.175) !important;
  border-radius: 0.375rem 0.375rem 0px 0px;
}

.my-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.my-button:hover {
  background-color: #45a049;
}
.my-button:active {
  background-color: #3e8e41;
}
