:root {
    --color-blanco: #fff;
    --color-blanco-contenido: #fff;
    --color-blanco-fondo: #f2f7fc;
    --color-azul: #1929bb;
    --color-azul-brillante: #5c67f7;
    --color-gris: #283c50;
    --color-gris-claro: #aaa;
    --color-gris-medio: #707070;
    --color-verde-fuerte:#0d6d0d;
    --color-rojo-fuerte:#b40808;
    --color-rosa-fuerte: #e354d4;
    --color-rosa-brillante: #ff5d9f;
    --color-naranja-coral: #ff8e6f;
    --color-secundario: #9e5cf7;
    --color-advertencia: #ffc658;
    --color-azul-celeste: #0ea5e8;
    --color-verde-claro: #21ce9e;
    --color-rojo-claro: #fb4242;
    --color-blanco-claro: #f9f9fa;
    --color-negro: #0a0a0a;
    --color-anaranjado-claro: #fe7c58;
    --color-rosado: #fe549b;
    --color-azul-claro: #00d8d8;
    --color-morado-claro: #7b76fe;
    --color-verde-claro-alternativo: #01ef8c;
    --color-texto-gris-claro: #6e829f;

    /* COLORES PARA LOS BOTONES DE LAS TABLAS */
    --buttonVerde:#01bd0a;
    --buttonVerdeHover: #019e08;
    --buttonRojo:#FF0000;
    --buttonRojoHover: #c71313;
    --buttonAzul: #1929bb;
    --buttonAzulHover: #0d1a8b;
    --buttonAzulClaro: #2980b9 ;
    --buttonAzulClaroHover: #1020ad;
    --buttonAmarillo: #FE9001;
    --buttonAmarilloHover: #f47e00;
}
/* --color-blanco: #fff;
--color-blanco-contenido: #fff;
--backgroud: #f2f7fc;
--color-azul: #1929bb;
--color-azul-brillante: #5c67f7;
--color-gris: #283c50;
--color-gris-claro: #aaa;
--rosaFuerte: #e354d4;
--rosaBrillante: #ff5d9f;
--naranjaCoral: #ff8e6f;
--secondary: #9e5cf7;
--warning: #ffc658;
--info: #0ea5e8;
--verdeCLaro: #21ce9e;
--rojoclaro: #fb4242;
--blancoClaro: #f9f9fa;
--negro: #0a0a0a;
--anaranjadoClaro: #fe7c58;
--rosajo: #fe549b;
--azulClaro: #00d8d8;
--moradoClaro: #7b76fe;
--greenClaro: #01ef8c;
--text-muted: #6e829f;
--custom-white: #ffffff;
--custom-black: #000000; */